@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

/*------ DEFAULT STYLINGS ------*/
html {
  font-size: 10px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  overflow: hidden;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*------ DEFAULT STYLINGS END HERE ------*/


#header {
  width: 100vw;
  min-width: 100vw;
  height: 80px;
  display: flex;
  padding: 0 115px;
  align-items: center;
  justify-content: space-between;
  background-color: #3F3F3F;
}

div.logo-container {
  width: 166px;
  display: flex;
  min-height: 100%;
  min-width: 166px;
  align-items: center;
}

div.logo-container > img {
  width: 100%;
}

.nav {
  width: 550px;
  max-width: 600px;
  height: 51.09px;
  display: flex;
  align-items: center;
}

.nav ul {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav a {
  color: #fff;
  font-weight: 400;
  font-size: 1.7rem;
}

.nav a:hover {
  text-decoration: underline;
}

.nav .register,
.nav .login {
  padding: 12px 20px;
  border-radius: 50px;
  background-color: #4D8AF0;
  transition: background-color ease-in .4s;
}

.nav .register:hover,
.nav .login:hover {
  text-decoration: none;
  background-color: #0d2652be;
}

.nav .hamburger {
  width: 40px;
  display: flex;
  display: none;
  cursor: pointer;
  align-items: center;
}

.hamburger > img {
  width: 100%;
}




/* HERO SECTION STYLES */
main {
  padding: 0 50px;
  font-size: 1.6rem;
  min-width: 100vw;
}

#hero_section {
  height: 85vh;
  display: flex;
  min-width: 350px;
  padding: 2em 4em;
  align-items: center;
  justify-content: space-between;
}

.hero_text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  min-width: 350px;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
}

.hero_text h6 {
  line-height: 1.6;
  font-size: 2.5rem;
}

.hero_text h2 {
  font-size: 4rem;
  line-height: 1.7;
  margin: 3px 0 0 0;
}

.hero_text p {
  color: rgba(19, 18, 18, 0.678);
  font-size: 2.3rem;
  line-height: 1.4;
}

.hero_text .get-started {
  border: none;
  outline: none;
  color: #fff;
  margin-top: 20px;
  font-size: 2.3rem;
  padding: 23px 110px;
  border-radius: 10px;
  background: #4D8AF0;
  align-self: flex-start;
  transition: background-color ease-in .4s;
}

.hero_text .get-started:hover {
  background-color: #0d2652be;
}

.hero_image{
    width: 50%;
    min-width: 370px;
}

.hero_image > img {
  width: 100%;
}




/*------ MEDIA QUERIES -----*/

@media (max-width: 1026px) {

  #header {
    padding: 0 80px;
  }
  
  .nav {
    width: 520px;
    max-width: 550px;
  }

  main {
    padding: 0 15px;
    font-size: 1.6rem;
  }
}


@media (max-width: 1000px) {

  .hero_text h6 {
    font-size: 2.3rem;
  }
  
  .hero_text h2 {
    font-size: 3.5rem;
  }
  
  .hero_text p {
    font-size: 2rem;
  }
  
  .hero_text .get-started {
    font-size: 2rem;
    padding: 20px 90px;
  }
}


@media (max-width: 876px) {
  
  .nav {
    justify-content: flex-end;
  }

  nav ul {
   display: flex;
   flex-direction:column;
   margin-top: 100px; 
   background-color: #3f3f3f;
   width: 80%;
  }

  nav ul li{
      margin: 20px 5px;
  }
  .nav ul.show{
      display: none;
  }
  .nav .hamburger {
    width: 32px;
    display: block;
  }

  main {
    padding: 0 15px;
    font-size: 1.6rem;
  }

  #hero_section {
    width: 90%;
    margin: 0 auto;
    position: relative;
    flex-direction: column;
  }

  .hero_text {
    width: 75%;
    text-align: center;
    z-index: 999;
  }

  .hero_text h6 {
    font-size: 2.5rem;
  }
  
  .hero_text h2 {
    font-size: 3.7rem;
  }
  
  .hero_text p {
    font-size: 2.2rem;
  }
  
  .hero_text .get-started {
    font-size: 1.7rem;
    padding: 15px 60px;
    align-self: center;
  }

  .hero_image {
    position: absolute;
    top: 34%;
    left: -15%;
    z-index: 0;
    opacity: .5;
  }
}



@media (max-width: 718px) {
  
  #header {
    padding: 0 40px;
  }
  
  .nav {
    width: 520px;
    max-width: 550px;
    justify-content: flex-end;
  }

  main {
    padding: 0 15px;
    font-size: 1.6rem;
  }

  #hero_section {
    width: 100%;
    position: relative;
    flex-direction: column;
  }

  .hero_text {
    width: 90%;
    text-align: center;
  }

  .hero_text h6 {
    font-size: 2.3rem;
  }
  
  .hero_text h2 {
    font-size: 3.1rem;
  }
  
  .hero_text p {
    line-height: 1.8;
    font-size: 2rem;
  }
  
  .hero_text .get-started {
    font-size: 1.5rem;
  }

  .hero_image {
    left: -10%;
    opacity: .3;
  }
}


@media (max-width: 607px) {

  div.logo-container {
    width: 150px;
    display: flex;
    min-height: 100%;
    min-width: 150px;
  }

  .nav {
    width: 520px;
    max-width: 550px;
    justify-content: flex-end;
  }


  main {
    padding: 0 10px;
    font-size: 1.6rem;
  }

  #hero_section {
    width: 100%;
    position: relative;
    flex-direction: column;
  }

  .hero_text {
    width: 100%;
  }

  .hero_text h6 {
    font-size: 2rem;
  }
  
  .hero_text h2 {
    font-size: 2.7rem;
  }
  
  .hero_text p {
    color: rgba(63, 63, 63, 0.884);
    line-height: 1.9;
    font-size: 1.8rem;
  }
}


@media (max-width: 432px) {
  
  #header {
    padding: 0 10px;
  }

  div.logo-container {
    width: 120px;
    display: flex;
    min-height: 100%;
    min-width: 120px;
  }

  .nav {
    width: 520px;
    max-width: 550px;
    justify-content: flex-end;
  }

  main {
    padding: 0 10px;
    font-size: 1.5rem;
  }

  #hero_section {
    width: 100%;
    position: relative;
    flex-direction: column;
  }

  
  .hero_text h2 {
    font-size: 2.5rem;
  }
  
  .hero_text p {
    color: rgba(63, 63, 63, 0.884);
    line-height: 1.9;
    font-size: 1.6rem;
  }
  
  .hero_text .get-started {
    font-size: 1.4rem;
    padding: 15px 50px;
  }
}


@media (max-width: 380px) {

  div.logo-container {
    width: 120px;
    display: flex;
    min-height: 100%;
    min-width: 120px;
  }

  .nav {
    width: 520px;
    max-width: 550px;
    justify-content: flex-end;
  }

  main {
    padding: 0 10px;
    font-size: 1.5rem;
  }

  #hero_section {
    width: 100%;
    position: relative;
    flex-direction: column;
  }

  .hero_text {
    padding: 14px;
  }
  
  .hero_text p {
    color: rgba(63, 63, 63, 0.884);
    line-height: 1.9;
    font-size: 1.6rem;
  }
  
  .hero_text .get-started {
    font-size: 1.4rem;
    padding: 13px 35px;
  }

}